/* ==========================================================
   Removing default styles
   ========================================================== */
/* ==========================================================
   CSS3 with vendor prefixes
   ========================================================== */
/* ==========================================================
   Functions
   ========================================================== */
/* ==========================================================
   Sizes
   ========================================================== */
/* ==========================================================
   Colors
   ========================================================== */
* {
  padding: 0;
  margin: 0; }

html {
  box-shadow: inset 0 0 100px black;
  height: 100%; }

body {
  margin-top: 200px;
  background: #1e1e1e; }

section {
  position: relative;
  background: red; }
  section h1 {
    -webkit-animation: rotate 10s linear infinite;
    -webkit-transform-origin: center;
    height: 300px;
    width: 300px;
    color: #00b300;
    color: white;
    font-weight: normal;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    text-shadow: 0 0 5px black; }
    section h1 span.char {
      font-family: monospace;
      display: inline-block;
      height: 300px;
      position: absolute;
      font-size: 50px; }
    section h1 span.char-2 {
      -webkit-transform: rotate(20deg); }
    section h1 span.char-3 {
      -webkit-transform: rotate(40deg); }
    section h1 span.char-4 {
      -webkit-transform: rotate(60deg); }
    section h1 span.char-5 {
      -webkit-transform: rotate(80deg); }
    section h1 span.char-6 {
      -webkit-transform: rotate(100deg); }
    section h1 span.char-7 {
      -webkit-transform: rotate(120deg); }
    section h1 span.char-8 {
      -webkit-transform: rotate(140deg); }
    section h1 span.char-9 {
      -webkit-transform: rotate(160deg); }
    section h1 span.char-10 {
      -webkit-transform: rotate(180deg); }
  section h2.logo {
    width: 70px;
    height: 70px;
    z-index: 100;
    background: url(../img/vim.png);
    background-size: 100%;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    top: 136px; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent; }
